/* Reset */
* {margin: 0;
   padding: 0;
   box-sizing: border-box;}

   /* utilities */
   body {background-color: lightgrey;
font-family: sans-serif;}

    header {
        background-color: white;}

  nav {
    align-items: center;
    gap: 5px;
    padding: 20px;
  }

  main {
    padding: 2rem 1rem;}

    .container {
        background-color: white;
        width: 80%;
        max-width: 600px;
        padding: 1rem;
        margin-bottom: 0,5rem;
    }

    .second-container {
        margin-top: 0,5rem;
    }


    .button-blu {
        background-color: rgb(0, 162, 255);
        color: white;
        padding: 0.75rem 1.5rem;
        border-radius: 15%;
        border: 1px solid rgb(0, 162, 255);
    }

    .button-grey {
        background-color: white;
        color: grey;
        padding: 0.75rem 1.5rem;
        border-radius: 15%;
        border: 1px solid lightgrey;
    }

   nav img {
  vertical-align: middle;       
} 

nav h1 {
  display: inline-block;        
  vertical-align: middle;       
  margin-left: 10px;   
  font-size: 2rem   
}

.list-container {
    width: 80%;
    background-color: white;
    margin-top: 0;
    padding: 8px;
    border-top: 2px solid lightgrey;
}

.list-container li {
  margin-bottom: 10px;
  line-height: 1.8;
}

.list-container li span {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  font-size: 0.85rem;
  line-height: 1;
  padding: 4px 10px;
  border-radius: 12px;     
}

ul {
    list-style-position: inside;
}

.list-container > ul {
  margin-bottom: 2rem;
}

.button-editorial {
        background-color: rgb(0, 162, 255);
        color: white;
    }

    .button-q1 {
        background-color: purple;
        color: white;
    }

    .button-recruiting {
        background-color: seagreen;
        color: white;
    }

    .button-mobile {
        background-color: orange;
        color: white;
    }

    .button-website {
        background-color: mediumvioletred;
        color: white;
    }

    .button-sales {
        background-color: lightgreen;
        color: white;
    }

    ul {
        list-style: none;
    }

    .icon-check, .icon-cross {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;  
    vertical-align: middle;            
    font-size: 16px;
}

.icon-check {
    background-color: white;
    border: 2px solid green;
    color: green;
}

.icon-cross {
    background-color: white;
    border: 2px solid red;
    color: red;
}